{% extends "base.html" %}
{% load paginator %}
{% block content %}

<div class="right_col" role="main">
        
        	<div class="page-title">
              <div class="title_left">
                <h3>Коносамент <small>{{ draft.name }}</small></h3>
              </div>
            </div>
             
            <div class="clearfix"></div> 
               
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  	<dl class="dl-horizontal">	
					    <dt>Дата</dt>
					    <dd>{{ draft.date|date:"d.m.Y" }}</dd>					    
					    <dt>Судно</dt>
					    <dd>{{ draft.voyage.vessel }}</dd>					    
					    <dt>Рейс</dt>
					    <dd>{{ draft.voyage }}</dd>
					    <dt>Линия</dt>
					    <dd>{{ draft.line }}</dd>
					    <dt>Пункт назначения</dt>
					    <dd>{{ draft.finalDestination|default_if_none:"" }}</dd>
					    <dt>POD</dt>
					    <dd>{{ draft.POD }}</dd>
					    <dt>POL</dt>
					    <dd>{{ draft.POL }}</dd>
					    <dt>Фин. статус</dt>
					    <dd>{% if draft.finstatus %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa" aria-hidden="true"></i>{% endif %}</dd>
					    <dt>Статус</dt>
					    <dd>{% if draft.status %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa" aria-hidden="true"></i>{% endif %}</dd>
					    <dt title="Поручение сформировано">Cформировано</dt>
					    <dd>{% if draft.poruchenie %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa" aria-hidden="true"></i>{% endif %}</dd>
					    <dt>Список поручений</dt>
					    <dd>{{ draft.poruchenieNums|default_if_none:"" }}</dd>
					    <dt>Отправитель</dt>
					    <dd>{{ draft.shipper }}</dd>
					    <dt>Получатель</dt>
					    <dd>{{ draft.consignee }}</dd>
					    <dt>Уведомить</dt>
					    <dd>{{ draft.notify }}</dd>
					    <dt>Автор</dt>
					    <dd>{{ draft.user }}</dd>					    					    
					</dl>
					
                 </div>
                </div>
               </div>

            <div class="clearfix"></div>

			<div class="row">
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Исполнение</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">                    
                    <div class="row" id="draft-details-{{ draft.id }} table-responsive">	              					
				        	<table class="table table-striped">
		                      <thead>
		                        <tr>
		                          <th>Размер</th>
		                          <th>Тип</th>
		                          <th>Заказано</th>
		                          <th>Выполено</th>				                                                    
		                        </tr>
		                      </thead>
		                      <tbody>
		                      {% for readiness in draft.readiness.all %}
		                      	<tr>
		                      	 <td>{{ readiness.size }}</td>
		                         <td>{{ readiness.type }}</td>
		                         <td>{{ readiness.ordered }}</td>
		                         <td>{{ readiness.done }}</td>				                         
		                        </tr>
		                      {% endfor %}
		               		 </tbody>
		               		</table>
			        </div>

                  </div>
                </div>
              </div>
           </div>

          
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Контейнеры</h2>
                                       
                    
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content table-responsive">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                        	<th>#</th>
                          	<th>Номер</th>							
							<th>SOC</th>							
							<th>Размер</th>
							<th>Тип</th>
							<th>Линия</th>
							<th>Пломба</th>
							<th>Груз</th>
							<th>Нетто</th>
							<th>Брутто</th>
							<th>Вес тары</th>
							<th>Упаковка</th>
							<th>Количество</th>														                          
                        </tr>
                      </thead>
                      <tbody>
                      {% for container in draft.containers.all %}
                        <tr>
                        	<th scope="row">{{ forloop.counter }}</th>
                            <th scope="row">{{ container.name }}</th>						
							<td>{% if container.SOC %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa" aria-hidden="true"></i>{% endif %}</td>
							<td>{{ container.size }}</td>
							<td>{{ container.type }}</td>
							<td>{{ container.line }}</td>
							<td>{{ container.seal|default_if_none:""  }}</td>
							<td>{{ container.cargo|default_if_none:""  }}</td>
							<td>{{ container.netto }}</td>
							<td>{{ container.gross }}</td>
							<td>{{ container.tare }}</td>
							<td>{{ container.package|default_if_none:""  }}</td>
							<td>{{ container.quantity }}</td>							                                                  
                        </tr>
                      {% endfor %}                        
                      </tbody>
                    </table>                                       
                    {% if is_paginated %}
					<nav aria-label="Page navigation">
					    {% bootstrap_paginator %}
					</nav>
					{% endif %}

                  </div>
                </div>
              </div>
           </div>
        <div class="clearfix"></div>
          
        </div>


{% endblock content %}