{% extends "base.html" %} {% load paginator %} {% block content %}

<div class="right_col" role="main">

	<div class="page-title">
		<div class="title_left">
			<h3>Заявка <small>{{ template.pk }}</small></h3>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">

				<dl class="dl-horizontal">
					<dt>Обновлено</dt>
					<dd>{{ template.last_event.date|date:"d.m.Y H:i" }} ({{ template.last_event.user }})</dd>
					<dt>Судно</dt>
					<dd>{{ template.voyage.vessel }}</dd>
					<dt>Рейс</dt>
					<dd>{{ template.voyage }}</dd>
					<dt>Статус</dt>
					<dd>{{ template.get_status_display }}</dd>
					<dt>Договор</dt>
					<dd>{{ template.contract }}</dd>
					<dt>Файл</dt>
					<dd><a class="btn-link" href="{{ template.attachment.url }}">{{ template.filename }}</a> {{ template.attachment.size|filesizeformat }}</dd>
					<dt>Готовность</dt>
					<dd>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="progress">
									<div class="progress-bar progress-bar-success" data-transitiongoal="{{ template.drafts_readiness }}" aria-valuenow="{{ template.drafts_readiness }}"
									 style="width:'{{ template.drafts_readiness }}%'">{{ template.drafts_readiness }}%</div>
								</div>
							</div>
						</div>
					</dd>
					<dt></dt>
					<dd id="app-settings">
						
						<a class="btn btn-primary" v-on:click="refresh({{ template.id }})" href="#">
							<i class="fa fa-spinner fa-pulse fa-lg fa-fw loading"></i> Обновить данные
						</a>

						<div id="error-message" class="alert alert-danger">
							<strong>Ошибка!</strong> <% error %>
						</div>

					</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	{% if template.errors.all %}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Ошибки</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					{% for error in template.errors.all %}
					<div class="panel panel-danger">
						<div class="panel-heading"><strong>{{ error.get_type_display }}</strong>
							<div class="pull-right">
								{% if error.code %}
									<span class="badge" title="Код ошибки">{{ error.code }}</span>
								{% endif %} 
								{% if error.field %}
									<span class="badge" title="Поле">{{ error.field }}</span>
								{% endif %}
							</div>
						</div>
						<div class="panel-body">
							{{ error.message }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="clearfix"></div>
	<form enctype="multipart/form-data" action="{% url 'upload' %}" method="post">
		{% csrf_token %} {{ template_form }}
	</form>
	{% if template.drafts.all %}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Коносаменты</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Settings 1</a>
								</li>
								<li><a href="#">Settings 2</a>
								</li>
							</ul>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content table-responsive">

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Номер</th>
								<th>Дата</th>
								<th>Рейс</th>
								<th>Линия</th>
								<th title="Пункт назначения">Назначение</th>
								<th>POD</th>
								<th>POL</th>
								<th>Фин.статус</th>
								<th>Статус</th>
								<th title="Поручение сформировано">Сформировано</th>
								<th>Поручения</th>
								<th>Отправитель</th>
								<th>Получатель</th>
								<th>Уведомить</th>
								<th>Автор</th>
							</tr>
						</thead>
						<tbody>
							{% for draft in template.drafts.all %}
							<tr class="datarow" id="draft-details-{{ template.id }}" data-link="{% url 'draft-details' draft.id %}">
								<th scope="row"><a href="{% url 'draft-details' draft.id %}">
																							{{ draft.name }}
																							</a></th>
								<td>{{ draft.date|date:"d.m.Y" }}</td>
								<td>{{ draft.voyage }}</td>
								<td>{{ draft.line }}</td>
								<td>{{ draft.finalDestination }}</td>
								<td>{{ draft.POD }}</td>
								<td>{{ draft.POL }}</td>
								<td>{% if draft.finstatus %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
								<td>{% if draft.status %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
								<td>{% if draft.poruchenie %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
								<td>{{ draft.poruchenieNums|default_if_none:"" }}
									{% for mission in draft.missions.all %}                                     
                                        {% for file in mission.files.all %}                                    
                                            <a title="{{ file.title }}" class="btn btn-link" href="{{ file.file.url }}">{{ mission }}</a>
										{% empty %}
											{{ mission }}
                                        {% endfor %}    
                                    {% endfor %}
								</td>
								<td>{{ draft.shipper }}</td>
								<td>{{ draft.consignee }}</td>
								<td>{{ draft.notify }}</td>
								<td>{{ draft.user }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if is_paginated %}
					<nav aria-label="Page navigation">
						{% bootstrap_paginator %}
					</nav>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="clearfix"></div>
</div>
{% endblock content %}